{
	"trailingComma": "es5",
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"bracketSameLine": false,
	"printWidth": 100,

	"tabWidth": 2,
	"bracketSpacing": true,
	"arrowParens": "always",

	"singleAttributePerLine": true
}
